<a href="https://colab.research.google.com/github/vivek16pawar/EDA-CAPSTONE/blob/main/Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#                                 EDA OF AIR BNB

 Before deep-diving straight into the problem solution, we need to create a roadmap which we will be referring to throughout this exploratory data analysis.

 Air Bnb offers you someone’s home as a place to stay instead of a hotel

 The objective of this project is to deliver insights to understand host,area,pricing and customer choise for booking. Tracking the performance of your Airbnb listing is just as important as attracting new guests and increasing your bookings. It’s a quantifiable way of keeping an eye on your financial situation and overcoming key issues.Analysing this data will help to manage the social media promotional campaigns.This dataset contains details of different host in NYC and reviews from different users.
 Discussion of Google play store dataset will involve various steps such as
 1. Loading the data into the data frame
 2. Cleaning the data
 3. Extracting statistics from the dataset
 4. Exploratory analysis and visualizations
 5. Questions that can be asked from the dataset
 6. Conclusion

# Step 1 : Loading the data into dataframe

In [27]:
#Importing the library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as  sns

In [28]:
#Connecting to google drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
#Reading the CSV file and getting data onboard
file_path = '/content/drive/MyDrive/Module 1/EDA CAPSTON/Airbnb NYC 2019.csv'

In [30]:
#Defining the dataframe
df = pd.read_csv(file_path)

# Step 2: Understanding and Cleaning the data

In [31]:
#Checking the head of the data
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [32]:
#checking the tail of the data
df.tail(15)

             id  ... availability_365
48880  36481315  ...              365
48881  36481615  ...               15
48882  36482231  ...               31
48883  36482416  ...              364
48884  36482783  ...              341
48885  36482809  ...              353
48886  36483010  ...              176
48887  36483152  ...              365
48888  36484087  ...               31
48889  36484363  ...              163
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[15 rows x 16 columns]

In [33]:
#Checking the shape of the dataset, numbers of rows and columns
print(f'The shape of the Air Bnb Dataset is {df.shape}')
print(f'The Number of Rows are {df.shape[0]}, where The Number of Columns are {df.shape[1]} ')

The shape of the Air Bnb Dataset is (48895, 16)
The Number of Rows are 48895, where The Number of Columns are 16

In [34]:
#Finding out Count of null value in rows of columns
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Now we will remove irrelevent and insignificant columns from the dataset. Here id, host_name, last_review columns are irrelevent for us. For ID pandas/numpy gives indices and name are drop beacuse we are not analysing individual

In [35]:
df.drop(['id', 'host_name','last_review'], axis=1, inplace=True)

In [36]:
df.head(2)

                                 name  ...  availability_365
0  Clean & quiet apt home by the park  ...               365
1               Skylit Midtown Castle  ...               355

[2 rows x 13 columns]

Reading above data we can see plenty of null values. We have null values for review per months as there was no reviews made for this hostings
so we will fill this Nan with 0.

In [37]:
# Replacing the Nan Values with the Zeros in reviews per month column 
df['reviews_per_month'].fillna(0,inplace=True)

In [38]:
#Checking the DataFrame after the replacing the null values with zeros
df.isnull().sum()

name                              16
host_id                            0
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

Now let find some outliers and deal with it

In [39]:
df.describe()

            host_id  ...  availability_365
count  4.889500e+04  ...      48895.000000
mean   6.762001e+07  ...        112.781327
std    7.861097e+07  ...        131.622289
min    2.438000e+03  ...          0.000000
25%    7.822033e+06  ...          0.000000
50%    3.079382e+07  ...         45.000000
75%    1.074344e+08  ...        227.000000
max    2.743213e+08  ...        365.000000

[8 rows x 9 columns]